body {
    font-family:RobotoMono;
    padding: 0;
    margin: 0;
     background-color: #7851A9;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
width:100%;
    display: flex;
    flex-direction: row;
}

/* Nav */
.navigation {
    background:  #660099;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
}

.nav-list-container {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    background: #8F509D;
}

.nav-list-element {
    display: block;
}

.nav-list-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    height: 100px;
    width: 170px;
    padding-left: 15px;
    align-items: center;
}

.selected {
    border: #fff 2px solid;
}

.nav-list-link:hover {
    border: #fff 1px solid;
}

.selected:hover {
    border: #fff 2px solid;
}
nav a:hover, nav a:active {
    background-color: #C364C5;
}
footer {
    text-align: center;
    background-color: #8c99a4;
}
/* Content */
.content {
box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    background: #9966CC;
    font-size: 12px;
    padding: 0px;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-begin;
}

.logo-container {
margin-left: auto
 margin-right: auto
    padding: 10px;
}

.logo {
    height: 120px;
}

.data-container {

    padding: 0 30px;
}

.graph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills_graph {
margin-top:40px;
    width: 600px;
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dataframe {
    border: 1px solid #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th.title {
    background-color: #9966CC;
    color: black;
}

.title {
    display: block;
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

table {

    border: none;
}

th {
    background-color: #9966CC;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
}

footer{
justify-content:center;
}

.header{background-color:#aaa583}
footer{
 background-color: #7851A9;}

 .logo-container {
margin-left: auto
 margin-right: auto
    padding: 10px;
}
 header{justify-content:center;

 padding:20px;
 }
 .tables-skills{
   overflow: auto;
   height:100px;
   display:block;
}